pkgbase = python-pyroma
	pkgdesc = Test your project's packaging friendliness
	pkgver = 4.2
	pkgrel = 1
	url = https://bitbucket.org/regebro/pyroma
	arch = any
	license = MIT
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-docutils
	options = !emptydirs
	source = https://pypi.io/packages/source/p/pyroma/pyroma-4.2.tar.gz
	sha256sums = 6c727dc4a7a10e12274faed5fb47ebd499ca0821995befec98e3cfcaf1e7383c

pkgname = python-pyroma
	depends = python
	depends = python-setuptools
	depends = python-docutils
