pkgbase = python-pytorch-uvm-git
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration
	pkgver = 2.0.1
	pkgrel = 1
	url = https://pytorch.org
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = python-setuptools
	depends = ffmpeg
	depends = gflags
	depends = gcc12
	depends = google-glog
	depends = leveldb
	depends = lmdb
	depends = opencv
	depends = openmp
	depends = protobuf
	depends = pybind11
	depends = python-future
	depends = python-numpy
	depends = python-yaml
	depends = qt6-base
	depends = zeromq
	depends = cuda
	depends = nccl
	depends = magma-cuda
	depends = cudnn
	depends = python-typing_extensions
	depends = numactl
	depends = python-jinja
	depends = python-networkx
	depends = python-filelock
	depends = python-sympy
	source = pytorch-uvm::git+https://github.com/Allen050329/pytorch-uvm.git#branch=uvm
	source = fix-building-for-torchvision.patch
	source = fix_include_system.patch
	source = protobuf-23.patch
	source = use-system-libuv.patch
	sha512sums = SKIP
	sha512sums = e58c4991723b1aa57eb6ccabadccc85263484adbb2327014396b41aa228cf38c7344e3c3eb132dd374791699bdd3a06412e1da6cab802d28fb9992fc7e68fb14
	sha512sums = e0160e35c6e196bdfb85267ef7d8b3d81f332ca869cefb4c12541d4f891474b05b569545e7913c9d8628ce561c6adea121132826e380db3ff2a7a62676d3be46
	sha512sums = b37d32d3bc005a68e5ebb40c42396214d75595f00e59c59719fc7fe1eabcff436f34520fb66aa671aa72ac5c5b534bc77dc6558c726a9c7978a39a9b569ca270
	sha512sums = ad2046b1870975054b8ddcb773197abcf0de9d5a4245cf87a0cb2965e080a7182b82044c7f242e2ef342bf8c6a796efd05c5161c380f18330c4e13404a4efa87

pkgname = python-pytorch-uvm-git
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration (with CUDA and MKL-DNN)
	provides = python-pytorch=2.0.1
	provides = python-pytorch-cuda=2.0.1
	conflicts = python-pytorch
	conflicts = python-pytorch-cuda
	conflicts = python-pytorch-git
