pkgbase = python-pytorch-uvm-git
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration
	pkgver = 2.0.1.r62954.fd214aa8be
	pkgrel = 1
	url = https://pytorch.org
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = python-setuptools
	depends = ffmpeg
	depends = gflags
	depends = google-glog
	depends = leveldb
	depends = lmdb
	depends = opencv
	depends = openmp
	depends = protobuf
	depends = pybind11
	depends = python-future
	depends = python-numpy
	depends = python-yaml
	depends = qt5-base
	depends = zeromq
	depends = cuda
	depends = nccl
	depends = magma-cuda
	depends = cudnn
	source = pytorch-uvm::git+https://github.com/Allen050329/pytorch-uvm.git#branch=uvm
	sha512sums = SKIP

pkgname = python-pytorch-uvm-git
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration (with CUDA and MKL-DNN)
	depends = ffmpeg
	depends = gflags
	depends = google-glog
	depends = leveldb
	depends = lmdb
	depends = opencv
	depends = openmp
	depends = protobuf
	depends = pybind11
	depends = python-future
	depends = python-numpy
	depends = python-yaml
	depends = qt5-base
	depends = zeromq
	depends = cuda
	depends = nccl
	depends = magma-cuda
	depends = cudnn
	depends = magma
	provides = python-pytorch=2.0.1.r62954.fd214aa8be
	provides = python-pytorch-cuda=2.0.1.r62954.fd214aa8be
	conflicts = python-pytorch
	conflicts = python-pytorch-cuda
	conflicts = python-pytorch-git
