pkgbase = opencv
	pkgdesc = Open Source Computer Vision Library
	pkgver = 4.8.0
	pkgrel = 3
	url = https://opencv.org/
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = python-numpy
	makedepends = python-setuptools
	makedepends = mesa
	makedepends = eigen
	makedepends = hdf5
	makedepends = lapacke
	makedepends = qt6-5compat
	makedepends = vtk
	makedepends = glew
	makedepends = ant
	makedepends = java-environment
	makedepends = pugixml
	makedepends = openmpi
	makedepends = cudnn
	makedepends = fmt
	makedepends = nlohmann-json
	depends = tbb
	depends = openexr
	depends = gst-plugins-base
	depends = libdc1394
	depends = cblas
	depends = lapack
	depends = libgphoto2
	depends = openjpeg2
	depends = ffmpeg
	depends = protobuf
	optdepends = opencv-samples: samples
	optdepends = vtk: for the viz module
	optdepends = glew: for the viz module
	optdepends = qt6-base: for the HighGUI module
	optdepends = hdf5: for the HDF5 module
	optdepends = opencl-icd-loader: For coding with OpenCL
	optdepends = java-runtime: Java interface
	source = https://github.com/opencv/opencv/archive/4.8.0/opencv-4.8.0.tar.gz
	source = https://github.com/opencv/opencv_contrib/archive/4.8.0/opencv_contrib-4.8.0.tar.gz
	source = vtk9.patch
	sha256sums = cbf47ecc336d2bff36b0dcd7d6c179a9bb59e805136af6b9670ca944aef889bd
	sha256sums = b4aef0f25a22edcd7305df830fa926ca304ea9db65de6ccd02f6cfa5f3357dbb
	sha256sums = f35a2d4ea0d6212c7798659e59eda2cb0b5bc858360f7ce9c696c77d3029668e

pkgname = opencv

pkgname = python-opencv
	pkgdesc = Python bindings for OpenCV
	depends = python-numpy
	depends = opencv
	depends = vtk
	depends = glew
	depends = qt6-base
	depends = hdf5
	depends = jsoncpp
	depends = openmpi
	depends = pugixml
	depends = fmt

pkgname = opencv-cuda
	pkgdesc = Open Source Computer Vision Library (with CUDA support)
	depends = tbb
	depends = openexr
	depends = gst-plugins-base
	depends = libdc1394
	depends = cblas
	depends = lapack
	depends = libgphoto2
	depends = openjpeg2
	depends = ffmpeg
	depends = protobuf
	depends = cudnn
	provides = opencv=4.8.0
	conflicts = opencv
	options = !debug
